/* line 1, ../../compass-boilerplate/sass/style.scss */
body {
  margin: 0px;
  background-color: lightgray;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* line 7, ../../compass-boilerplate/sass/style.scss */
h1 {
  text-align: center;
}

/* line 10, ../../compass-boilerplate/sass/style.scss */
#image {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

/* line 16, ../../compass-boilerplate/sass/style.scss */
#image img {
  height: 350px;
}

/* line 19, ../../compass-boilerplate/sass/style.scss */
.button-holder {
  padding: 10px 40%;
  text-align: center;
}

/* line 26, ../../compass-boilerplate/sass/style.scss */
.button {
  padding-bottom: 20px;
}
