/* line 1, ../../compass-boilerplate/sass/style.scss */
body {
  margin: 0px;
  background-color: lightgray;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* line 6, ../../compass-boilerplate/sass/style.scss */
h1 {
  text-align: center;
}

/* line 9, ../../compass-boilerplate/sass/style.scss */
#image {
  width: 50%;
  margin: auto;
  text-align: center;
}

/* line 14, ../../compass-boilerplate/sass/style.scss */
#image img {
  height: 350px;
}

/* line 17, ../../compass-boilerplate/sass/style.scss */
.button-holder {
  padding: 10px 40%;
  text-align: center;
}
